fastapi
uvicorn[standard]
sqlmodel
pydantic
pydantic-settings
langchain
langgraph
langchain-openai
python-dotenv
httpx
loguru
psycopg[binary]
livekit-api
livekit-agents
livekit-plugins-openai
livekit-plugins-sarvam
livekit-plugins-silero
